<html>
<head>
<title>Through The Ages</title>

{{ login_form.media }}
{% block additional_head_lines %}
{% endblock %}
</head>
<body>
<div style="float:left;" id="everything">
{% block login %}
<div style="float:right; padding-bottom:3px;">
{% if request.user.is_authenticated %}
    {{ request.user.username }} | <a href="/logout/master/p1">Logout</a>
{% else %}
    <form action="/login/{{branch}}/{{player}}/" method="post">
        {{ login_form.as_p }}
        <input style="float:right; margin-left:5px;" type="submit" value="Submit" />
    </form>
{% endif %}
</div>
{% endblock %}

{% block content %}
{% endblock %}
</div>
</body>
</html>
