{% extends "base.html" %}
{% block additional_head_lines %}
<script type="text/javascript" src="/site_media/js/jquery.js" type="text/javascript"></script>
<link type="text/css" href="/site_media/css/custom-theme/jquery-ui-1.7.1.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/site_media/js/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/ui.tabs.js"></script>

<script>
$(document).ready(function(){
  $("#tabs").tabs({ selected: 1 });
  $("#right-bar").tabs();
  $("#zoom").hide();

  $(".card").bind("mouseenter", function() {
    var img = $("img:first", this)
    var url = img.attr("src");
    if (url == "/site_media/Blank.png") {
      return;
    }
    var position = $(this).position();
    var vertical_offset = 360;
    if ($(this).hasClass("below")) {
      vertical_offset = -120;
    }

    $("#zoom")
      .show()
      .css("left", position.left)
      .css("top", position.top - vertical_offset)
      .css("background-image", "url('" + url +"')")
      .css("width", "240")
      .css("height", "360");
  });

  $(".card").bind("mouseleave", function() {
    $("#zoom").hide();
  });
});

{% if user_id %}
  window.setInterval(function () {
    $.getJSON("/heartbeat/master/{{user_id}}/", function (data) {
      $(".active-player").removeClass("active-player");
      $.each(data, function(i, item) {
        $(".player-" + item).addClass("active-player");
      });
    });
  }, 10000);
{% endif %}
</script>
<style>
.ui-tabs .ui-tabs-hide {
 display: none;
}

.board {
 width: 60px;
 height: 90px;
}

.active-player {
 color:green;
}

#tabs {
 overflow:auto;
}

#zoom {
 position:absolute;
 z-index: 100;
}

a:link img{border:0}
a:visited img{border:0}

#buttons {
 float: left;
}

#scores {
 float: left;
}

#military_decks {
 float: left;
}

#tableau {
 clear: both;
}

#blue_tokens {
 position:relative;
 top: 33;
 float: left;
}

#yellow_tokens {
 float:left;
}

.blue_token_cell_full {
 width: 25;
 height: 25;
 background-image: url(/site_media/misc/blue_token.png);
}

.blue_token_cell_empty {
 width: 25;
 height: 25;
 border-style: solid;
 border-width: 1;
 border-color: black;
}

.yellow_token_cell_full {
 width: 25;
 height: 25;
 background-image: url(/site_media/misc/yellow_token.png);
}

.yellow_token_cell_empty {
 width: 25;
 height: 25;
 border-style: solid;
 border-width: 1;
 border-color: black;
}

.yellow_counter {
 position:absolute; 
 left:0;
 top: 40;
 background-color: yellow;
}

.blue_counter {
 position:absolute; 
 right:0;
 top: 60;
 float: right;
 background-color: blue;
}

.card {
 position: relative;
}

table .score {
 text-align:right;
 font-size:.9em;
}

table .score-title {
 font-size: .9em;
}

</style>
</head>
{% endblock %}

{% block content %}
<div id="zoom"></div>
<div id="tabs" style="clear:both;float:left;width:920px;">
    <ul>
        <li><a href="#card_row"><span>Card Row</span></a></li>
{% for c in civs %}
        <li><a href="#tableau-{{c.user}}"><span>{{c.name}}'s Tableau</span></a></li>
{% endfor %}
    </ul>

<div id="card_row">

<div id="buttons" style="clear:both;margin-top:5px; margin-left:5px;">
<form style="display:inline;" method="POST" action="/{{ game }}/{{ branch }}/{{ player }}/slide/">
    <input type="submit" name="action" value="slide"/>
</form>
<form style="display:inline;" method="POST" action="/cjh/{{player}}/begin/">
    <input type="submit" name="action" value="begin"/>
</form>
<form style="display:inline;" method="POST" action="/{{ game }}/{{ branch }}/{{ player }}/save/">
    <input type="submit" name="action" value="save"/>
</form>
<form style="display:inline;" method="POST" action="/{{ game }}/{{ branch }}/{{ player }}/reset/">
    <input type="submit" name="action" value="reset"/>
</form>
<form style="display:inline;" method="POST" action="/{{ game }}/{{ branch }}/{{ player }}/undo/">
    <input type="submit" name="action" value="undo"/>
</form>
</div>

<table style="clear:both; margin-top:10px; margin-bottom:10px;">
    <tr>
{% for card in card_row %}
        <td>
            <div class="card below">
                <a href="/{{ game }}/{{ branch }}/{{ player }}/add/{{ forloop.counter }}">
                    <img src="/site_media/{{ card }}" width="*" height="90">
                </a>
            </div>
        </td>
{% endfor %}
    </tr>
    <tr>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            3
        </td>
        <td align="center">
            3
        </td>
        <td align="center">
            3
        </td>
        <td align="center">
            3
        </td>
    </tr>
</table>

<div id="military_decks">
    <table>
        <tr>
{% for aggression in military.aggressions %}
            <td class="card below">
                <a href="/{{ game }}/{{ branch }}/{{ player }}/remove_aggression/{{forloop.counter0}}/">
                    <img src="/site_media/{{ aggression.file }}" width="*" height="90" />
                </a>
            </td>
{% endfor %}
{% for pact in military.pacts %}
            <td class="card below">
                <a href="/{{ game }}/{{ branch }}/{{ player }}/remove_pact/{{forloop.counter0}}/">
                    <img src="/site_media/{{ pact.file }}" width="*" height="90" />
                </a>
            </td>
{% endfor %}
            <td>
            <a href="/{{ game }}/{{ branch }}/{{ player }}/draw_military/I/"><img src="/site_media/age_1/Age_I_Military_-_Card_Back.png" width="*" height="90" /></a>
            </td>
            <td>
                {{ military.I|length }}
            </td>
            <td>
            <a href="/{{ game }}/{{ branch }}/{{ player }}/draw_military/II/"><img src="/site_media/age_2/Age_II_Military_-_Card_Back.png" width="*" height="90" /></a>
            </td>
            <td>
                {{ military.II|length }}
            </td>
            <td>
            <a href="/{{ game }}/{{ branch }}/{{ player }}/draw_military/III/"><img src="/site_media/age_3/Age_III_Military_-_Card_Back.png" width="*" height="90" /></a>
            </td>
            <td>
                {{ military.III|length }}
            </td>
{% if military.current_event %}
            <td class="card below">
{%   ifequal military.current_event.cell "territory" %}
            <a href="/{{ game }}/{{ branch }}/{{ player }}/take_territory">
                <img src="/site_media/{{military.current_event.file}}" width="*" height="90">
            </a>
{%   else %}
                <img src="/site_media/{{military.current_event.file}}" width="*" height="90">
{%   endifequal %}
            </td>
{% endif %}
            <td>
                Future Events: {{military.future_event_size}}
            </td>
            <td>
                <a href="/{{ game }}/{{ branch }}/{{ player }}/pop_current_event/">Pop Current Event ({{military.current|length}})</a>
            </td>
        </tr>
    </table>
</div>
</div>

{% for c in civs %}
<div id="tableau-{{c.user}}">
<table style="clear:both;">
    <tr>
{% for card in c.hand %}
        <td>
            <div class="card below">
{%   ifequal card.cell "event" %}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/play_event/{{ forloop.counter }}/">
{%   else %}
{%     ifequal card.cell "territory" %}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/play_event/{{ forloop.counter }}/">
{%     else %}
{%       ifequal card.cell "aggression" %}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/play_aggression/{{ forloop.counter }}/">
{%       else %}
{%         ifequal card.cell "pact" %}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/play_pact/{{ forloop.counter }}/">
{%         else %}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/play/{{ forloop.counter }}/">
{%         endifequal %}
{%       endifequal %}
{%     endifequal %}
{%   endifequal %}

{% if can_view_hand %}
                    <img src="/site_media/{{card.file}}" width="*" height="90">
{% else %}
                    <img src="/site_media/{{card.back}}" width="*" height="90">
{% endif %}
                </a>
            </div>
        </td>
{% endfor %}
    </tr>
    <tr>
{% for card in c.hand %}
        <td>
            <center><a href="/{{ game }}/{{ branch }}/{{ c.user }}/discard/{{ forloop.counter }}/">X</a></center>
        </td>
{% endfor %}
    </tr>
</table>
<table>
    <tr>
{% for wonder in c.completed_wonders %}
        <td>
            <div class="card below">
                <img src="/site_media/{{ wonder }}" width="*" height="90">
            </div>
        </td>
{% endfor %}
{% for territory in c.territories %}
        <td>
            <div class="card below">
                <img src="/site_media/{{ territory }}" width="*" height="90">
            </div>
        </td>
{% endfor %}
    </tr>
</div>
</table>

<table border="0">
<tr>
<td class="board">
{% if c.wonder %}
<div class="card below">
    <a href="/{{ game }}/{{ branch }}/{{ c.user }}/finish_wonder/"><img src="/site_media/{{c.wonder.file}}" width="*" height="90"></a>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_up/wonder/">&uarr;</a>
        {{c.wonder.blue}}
{% if c.wonder.blue %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_down/wonder/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.leader %}
<div class="card below">
    <a href="/{{ game }}/{{ branch }}/{{ c.user }}/discard_leader/"><img src="/site_media/{{c.leader.file}}" width="*" height="90"></a>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.government %}
<div class="card below">
    <img src="/site_media/{{c.government.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.tactics %}
<div class="card below">
    <img src="/site_media/{{c.tactics.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">&nbsp</td><td class="board">&nbsp</td><td class="board">&nbsp</td><td class="board">
{% if c.warriors %}
<div class="card below">
    <img src="/site_media/{{c.warriors.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/warriors/">&uarr;</a>
        {{c.warriors.yellow}}
{% if c.warriors.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/warriors/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">&nbsp</td><td class="board">&nbsp</td><td class="board">&nbsp</td><td class="board">
{% if c.philosophy %}
<div class="card below">
    <img src="/site_media/{{c.philosophy.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/philosophy/">&uarr;</a>
        {{c.philosophy.yellow}}
{% if c.philosophy.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/philosophy/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.religion %}
<div class="card below">
    <img src="/site_media/{{c.religion.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/religion/">&uarr;</a>
        {{c.religion.yellow}}
{% if c.religion.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/religion/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.bronze %}
<div class="card below">
    <img src="/site_media/{{c.bronze.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/bronze/">&uarr;</a>
        {{c.bronze.yellow}}
{% if c.bronze.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/bronze/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_up/bronze/">&uarr;</a>
        {{c.bronze.blue}}
{% if c.bronze.blue %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_down/bronze/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.agriculture %}
<div class="card below">
    <img src="/site_media/{{c.agriculture.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/agriculture/">&uarr;</a>
        {{c.agriculture.yellow}}
{% if c.agriculture.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/agriculture/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_up/agriculture/">&uarr;</a>
        {{c.agriculture.blue}}
{% if c.agriculture.blue %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_down/agriculture/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
</tr>
<tr>
<td class="board">
{% if c.warfare %}
<div class="card">
    <img src="/site_media/{{c.warfare.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.cartography %}
<div class="card">
    <img src="/site_media/{{c.cartography.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.code_of_laws %}
<div class="card">
    <img src="/site_media/{{c.code_of_laws.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.masonry %}
<div class="card">
    <img src="/site_media/{{c.masonry.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">&nbsp</td><td class="board">&nbsp</td><td class="board">
{% if c.knights %}
<div class="card">
    <img src="/site_media/{{c.knights.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/knights/">&uarr;</a>
        {{c.knights.yellow}}
{% if c.knights.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/knights/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.swordsmen %}
<div class="card">
    <img src="/site_media/{{c.swordsmen.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/swordsmen/">&uarr;</a>
        {{c.swordsmen.yellow}}
{% if c.swordsmen.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/swordsmen/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.drama %}
<div class="card">
    <img src="/site_media/{{c.drama.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/drama/">&uarr;</a>
        {{c.drama.yellow}}
{% if c.drama.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/drama/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.printing_press %}
<div class="card">
    <img src="/site_media/{{c.printing_press.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/printing_press/">&uarr;</a>
        {{c.printing_press.yellow}}
{% if c.printing_press.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/printing_press/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.bread_and_circuses %}
<div class="card">
    <img src="/site_media/{{c.bread_and_circuses.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/bread_and_circuses/">&uarr;</a>
        {{c.bread_and_circuses.yellow}}
{% if c.bread_and_circuses.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/bread_and_circuses/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.alchemy %}
<div class="card">
    <img src="/site_media/{{c.alchemy.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/alchemy/">&uarr;</a>
        {{c.alchemy.yellow}}
{% if c.alchemy.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/alchemy/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.theology %}
<div class="card">
    <img src="/site_media/{{c.theology.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/theology/">&uarr;</a>
        {{c.theology.yellow}}
{% if c.theology.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/theology/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.iron %}
<div class="card">
    <img src="/site_media/{{c.iron.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/iron/">&uarr;</a>
        {{c.iron.yellow}}
{% if c.iron.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/iron/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_up/iron/">&uarr;</a>
        {{c.iron.blue}}
{% if c.iron.blue %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_down/iron/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.irrigation %}
<div class="card">
    <img src="/site_media/{{c.irrigation.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/irrigation/">&uarr;</a>
        {{c.irrigation.yellow}}
{% if c.irrigation.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/irrigation/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_up/irrigation/">&uarr;</a>
        {{c.irrigation.blue}}
{% if c.irrigation.blue %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_down/irrigation/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
</tr>
<tr>
<td class="board">
{% if c.strategy %}
<div class="card">
    <img src="/site_media/{{c.strategy.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.navigation %}
<div class="card">
    <img src="/site_media/{{c.navigation.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.justice_system %}
<div class="card">
    <img src="/site_media/{{c.justice_system.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.architecture %}
<div class="card">
    <img src="/site_media/{{c.architecture.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">&nbsp</td><td class="board">
{% if c.cannon %}
<div class="card">
    <img src="/site_media/{{c.cannon.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/cannon/">&uarr;</a>
        {{c.cannon.yellow}}
{% if c.cannon.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/cannon/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.cavalrymen %}
<div class="card">
    <img src="/site_media/{{c.cavalrymen.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/cavalrymen/">&uarr;</a>
        {{c.cavalrymen.yellow}}
{% if c.cavalrymen.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/cavalrymen/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.riflemen %}
<div class="card">
    <img src="/site_media/{{c.riflemen.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/riflemen/">&uarr;</a>
        {{c.riflemen.yellow}}
{% if c.riflemen.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/riflemen/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.opera %}
<div class="card">
    <img src="/site_media/{{c.opera.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/opera/">&uarr;</a>
        {{c.opera.yellow}}
{% if c.opera.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/opera/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.journalism %}
<div class="card">
    <img src="/site_media/{{c.journalism.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/journalism/">&uarr;</a>
        {{c.journalism.yellow}}
{% if c.journalism.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/journalism/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.team_sports %}
<div class="card">
    <img src="/site_media/{{c.team_sports.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/team_sports/">&uarr;</a>
        {{c.team_sports.yellow}}
{% if c.team_sports.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/team_sports/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.scientific_method %}
<div class="card">
    <img src="/site_media/{{c.scientific_method.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/scientific_method/">&uarr;</a>
        {{c.scientific_method.yellow}}
{% if c.scientific_method.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/scientific_method/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.organized_religion %}
<div class="card">
    <img src="/site_media/{{c.organized_religion.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/organized_religion/">&uarr;</a>
        {{c.organized_religion.yellow}}
{% if c.organized_religion.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/organized_religion/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.coal %}
<div class="card">
    <img src="/site_media/{{c.coal.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/coal/">&uarr;</a>
        {{c.coal.yellow}}
{% if c.coal.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/coal/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_up/coal/">&uarr;</a>
        {{c.coal.blue}}
{% if c.coal.blue %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_down/coal/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.selective_breeding %}
<div class="card">
    <img src="/site_media/{{c.selective_breeding.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/selective_breeding/">&uarr;</a>
        {{c.selective_breeding.yellow}}
{% if c.selective_breeding.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/selective_breeding/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_up/selective_breeding/">&uarr;</a>
        {{c.selective_breeding.blue}}
{% if c.selective_breeding.blue %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_down/selective_breeding/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
</tr>
<tr>
<td class="board">
{% if c.military_theory %}
<div class="card">
    <img src="/site_media/{{c.military_theory.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.satellites %}
<div class="card">
    <img src="/site_media/{{c.satellites.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.cil_service %}
<div class="card">
    <img src="/site_media/{{c.cil_service.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.engineering %}
<div class="card">
    <img src="/site_media/{{c.engineering.file}}" width="*" height="90">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.air_forces %}
<div class="card">
    <img src="/site_media/{{c.air_forces.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/air_forces/">&uarr;</a>
        {{c.air_forces.yellow}}
{% if c.air_forces.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/air_forces/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.rockets %}
<div class="card">
    <img src="/site_media/{{c.rockets.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/rockets/">&uarr;</a>
        {{c.rockets.yellow}}
{% if c.rockets.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/rockets/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.tanks %}
<div class="card">
    <img src="/site_media/{{c.tanks.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/tanks/">&uarr;</a>
        {{c.tanks.yellow}}
{% if c.tanks.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/tanks/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.modern_infantry %}
<div class="card">
    <img src="/site_media/{{c.modern_infantry.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/modern_infantry/">&uarr;</a>
        {{c.modern_infantry.yellow}}
{% if c.modern_infantry.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/modern_infantry/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.movies %}
<div class="card">
    <img src="/site_media/{{c.movies.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/movies/">&uarr;</a>
        {{c.movies.yellow}}
{% if c.movies.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/movies/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.multimedia %}
<div class="card">
    <img src="/site_media/{{c.multimedia.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/multimedia/">&uarr;</a>
        {{c.multimedia.yellow}}
{% if c.multimedia.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/multimedia/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.professional_sports %}
<div class="card">
    <img src="/site_media/{{c.professional_sports.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/professional_sports/">&uarr;</a>
        {{c.professional_sports.yellow}}
{% if c.professional_sports.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/professional_sports/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.computers %}
<div class="card">
    <img src="/site_media/{{c.computers.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/computers/">&uarr;</a>
        {{c.computers.yellow}}
{% if c.computers.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/computers/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">&nbsp</td><td class="board">
{% if c.oil %}
<div class="card">
    <img src="/site_media/{{c.oil.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/oil/">&uarr;</a>
        {{c.oil.yellow}}
{% if c.oil.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/oil/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_up/oil/">&uarr;</a>
        {{c.oil.blue}}
{% if c.oil.blue %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_down/oil/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td class="board">
{% if c.mechanized_agriculture %}
<div class="card">
    <img src="/site_media/{{c.mechanized_agriculture.file}}" width="*" height="90">
    <span class="yellow_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_up/mechanized_agriculture/">&uarr;</a>
        {{c.mechanized_agriculture.yellow}}
{% if c.mechanized_agriculture.yellow %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/yellow_down/mechanized_agriculture/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_up/mechanized_agriculture/">&uarr;</a>
        {{c.mechanized_agriculture.blue}}
{% if c.mechanized_agriculture.blue %}
        <a href="/{{ game }}/{{ branch }}/{{ c.user }}/blue_cell_down/mechanized_agriculture/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
</tr>
</table>

<div id="blue_tokens">
    <table>
        <tr>
            <td>
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/count_up/blue">
                    &uarr;
                </a>
            </td>
            <td rowspan="2">
                -6
            </td>
{% if blue.1 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.3 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
            <td rowspan="2">
                -4
            </td>
{% if blue.5 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.7 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
            <td rowspan="2">
                -2
            </td>
{% if blue.9 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.11 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.13 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.15 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.17 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue_leftover %}
            <td rowspan="2">
                + {{ blue_leftover }}
            </td>
        </tr>
{% endif %}
        <tr>
            <td>
{% if blue.1 %}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/count_down/blue">
                    &darr;
                </a>
{% endif %}
            </td>
{% if blue.2 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.4 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.6 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.8 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.10 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.12 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.14 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.16 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.18 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
        </tr>
    </table>    
</div>

<div id="yellow_tokens">
    <table>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
{% ifequal c.happiness 9 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>
{% ifequal c.happiness 8 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>&nbsp;</td>
            <td>
{% ifequal c.happiness 7 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>
{% ifequal c.happiness 6 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>&nbsp;</td>
            <td>
{% ifequal c.happiness 5 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>
{% ifequal c.happiness 4 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>&nbsp;</td>
            <td>
{% ifequal c.happiness 3 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>
{% ifequal c.happiness 2 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>&nbsp;</td>
            <td>
{% ifequal c.happiness 1 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>
{% ifequal c.happiness 0 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
{% ifnotequal c.happiness 9 %}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/points_up/happiness">
                    &uarr;
                </a>
{% endifnotequal %}
{% ifnotequal c.happiness 0 %}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/points_down/happiness">
                    &darr;
                </a>
{% endifnotequal %}
            </td>
        <tr>
            <td>
{% if not yellow.18 %}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/count_up/yellow">
                    &uarr;
                </a>
{% endif %}
            </td>
            <td rowspan="2">
                -6
            </td>
{% if yellow.1 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
{% if yellow.3 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
            <td rowspan="2">
                -4
            </td>
{% if yellow.5 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
{% if yellow.7 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
            <td rowspan="2">
                -3
            </td>
{% if yellow.9 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
{% if yellow.11 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
            <td rowspan="2">
                -2
            </td>
{% if yellow.13 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
{% if yellow.15 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
            <td rowspan="2">
                -1
            </td>
{% if yellow.17 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                2
            </td>
            <td rowspan="2">
                Unused: {{ c.unused_workers }}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/points_up/unused_workers/">&uarr;</a>
{% if c.unused_workers %}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/points_down/unused_workers/">&darr;</a>
{%  endif %}
            </td>
        <tr>
            <td>
{% if yellow.1 %}
                <a href="/{{ game }}/{{ branch }}/{{ c.user }}/count_down/yellow">
                    &darr;
                </a>
{% endif %}
            </td>
{% if yellow.2 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
{% if yellow.4 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
{% if yellow.6 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
{% if yellow.8 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
{% if yellow.10 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
{% if yellow.12 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
{% if yellow.14 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
{% if yellow.16 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
{% if yellow.18 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                2
            </td>
        </tr>
    </table>    
</div>

</div>
{% endfor %}
</div>

<div id="right-bar" style="margin-left:5px;float:left; width:305px;">
    <ul>
        <li><a href="#scores"><span>Scores</span></a></li>
    </ul>
<div id="scores" style="width:100%;">
<table align="center">
    <tr>
        <th>&nbsp;</th>
{% for score in civs %}
        <th colspan="2" class="player-{{score.name}}">{{score.name}}</th>
{% endfor %}
    </tr>
    <tr>
        <td class="score-title">
            Tech:
        </td>
{% for score in civs %}
        <td class="score">
            {{ score.tech }}
        </td>
        <td class="score">
            <a href="/{{branch}}/{{score.name}}/points_up/tech/">&uarr;</a>
{% if score.tech %}
            <a href="/{{branch}}/{{score.name}}/points_down/tech/">&darr;</a>
{% else %}
            &nbsp;
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td class="score-title">
            Tech+:
        </td>
{% for score in civs %}
        <td class="score">
            {{ score.tech_plus }}
        </td>
        <td class="score">
            <a href="/{{branch}}/{{score.name}}/points_up/tech_plus/">&uarr;</a>
{% if score.tech_plus %}
            <a href="/{{branch}}/{{score.name}}/points_down/tech_plus/">&darr;</a>
{% else %}
            &nbsp;
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td class="score-title">
            Culture:
        </td>
{% for score in civs %}
        <td class="score">
            {{ score.culture }}
        </td>
        <td class="score">
            <a href="/{{branch}}/{{score.name}}/points_up/culture/">&uarr;</a>
{% if score.culture %}
            <a href="/{{branch}}/{{score.name}}/points_down/culture/">&darr;</a>
{% else %}
            &nbsp;
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td class="score-title">
            Culture+:
        </td>
{% for score in civs %}
        <td class="score">
            {{ score.culture_plus }}
        </td>
        <td class="score">
            <a href="/{{branch}}/{{score.name}}/points_up/culture_plus/">&uarr;</a>
{% if score.culture_plus %}
            <a href="/{{branch}}/{{score.name}}/points_down/culture_plus/">&darr;</a>
{% else %}
            &nbsp;
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td class="score-title">
            Strength:
        </td>
{% for score in civs %}
        <td class="score">
            {{ score.culture_plus }}
        </td>
        <td class="score">
            <a href="/{{branch}}/{{score.name}}/points_up/strength/">&uarr;</a>
{% if score.strength %}
            <a href="/{{branch}}/{{score.name}}/points_down/strength/">&darr;</a>
{% else %}
            &nbsp;
{%  endif %}
        </td>
{% endfor %}
    </tr>
</table>
</div>
</div>
{% endblock %}

