<title>Through The Ages</title>
<head>
<script type="text/javascript" src="/site_media/js/jquery.js" type="text/javascript"></script>
<link type="text/css" href="/site_media/css/custom-theme/jquery-ui-1.7.1.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/site_media/js/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/ui.tabs.js"></script>
<script>
$(document).ready(function(){
  $("#tabs").tabs();
  $("#zoom").hide();

  $(".card").bind("mouseenter", function() {
    var img = $("img:first", this)
    var url = img.attr("src");
    var position = $(this).position();
    var vertical_offset = 360;
    if ($(this).hasClass("below")) {
      vertical_offset = -120;
    }

    $("#zoom")
      .show()
      .css("left", position.left)
      .css("top", position.top - vertical_offset)
      .css("background-image", "url('" + url +"')")
      .css("width", "240")
      .css("height", "360");
  });

  $(".card").bind("mouseleave", function() {
    $("#zoom").hide();
  });
});

{% if user_id %}
  window.setInterval(function () {
    $.getJSON("/heartbeat/master/{{user_id}}/", function (data) {
      $(".active-player").removeClass("active-player");
      $.each(data, function(i, item) {
        $(".player-" + item).addClass("active-player");
      });
    });
  }, 10000);
{% endif %}
</script>
<style>
.ui-tabs .ui-tabs-hide {
 display: none;
}

.active-player {
 color:green;
}

#tabs {
 overflow:auto;
}

#zoom {
 position:absolute;
 z-index: 100;
}

a:link img{border:0}
a:visited img{border:0}

#buttons {
 float: left;
}

#scores {
 float: left;
}

#military_decks {
 float: left;
}

#tableau {
 clear: both;
}

#blue_tokens {
 position:relative;
 top: 33;
 float: left;
}

#yellow_tokens {
 float:left;
}

.blue_token_cell_full {
 width: 25;
 height: 25;
 background-image: url(/site_media/misc/blue_token.png);
}

.blue_token_cell_empty {
 width: 25;
 height: 25;
 border-style: solid;
 border-width: 1;
 border-color: black;
}

.yellow_token_cell_full {
 width: 25;
 height: 25;
 background-image: url(/site_media/misc/yellow_token.png);
}

.yellow_token_cell_empty {
 width: 25;
 height: 25;
 border-style: solid;
 border-width: 1;
 border-color: black;
}

.yellow_counter {
 position:absolute; 
 left:0;
 top: 40;
 background-color: yellow;
}

.blue_counter {
 position:absolute; 
 right:0;
 top: 60;
 float: right;
 background-color: blue;
}

.card {
 position: relative;
}

</style>
</head>
<div id="zoom"></div>
<div id="tabs">
    <ul>
        <li><a href="#card_row"><span>Card Row</span></li>
        <li><a href="#tableau"><span>Tableau</span></li>
    </ul>

<div id="card_row">

<div id="buttons" style="clear:both;margin-top:5px; margin-left:5px;">
<form style="display:inline;" method="POST" action="/{{branch}}/{{player}}/slide/">
    <input type="submit" name="action" value="slide"/>
</form>
<form style="display:inline;" method="POST" action="/cjh/{{player}}/begin/">
    <input type="submit" name="action" value="begin"/>
</form>
<form style="display:inline;" method="POST" action="/{{branch}}/{{player}}/save/">
    <input type="submit" name="action" value="save"/>
</form>
<form style="display:inline;" method="POST" action="/{{branch}}/{{player}}/reset/">
    <input type="submit" name="action" value="reset"/>
</form>
<form style="display:inline;" method="POST" action="/{{branch}}/{{player}}/undo/">
    <input type="submit" name="action" value="undo"/>
</form>
</div>

<table style="clear:both; margin-top:10px; margin-bottom:10px;">
    <tr>
{% for card in card_row %}
        <td>
            <div class="card below">
                <a href="/{{branch}}/{{player}}/add/{{ forloop.counter }}">
                    <img src="/site_media/{{ card }}" width="*" height="120">
                </a>
            </div>
        </td>
{% endfor %}
    </tr>
    <tr>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            3
        </td>
        <td align="center">
            3
        </td>
        <td align="center">
            3
        </td>
        <td align="center">
            3
        </td>
    </tr>
</table>

<div id="scores" style="margin-right:20px;">
<table>
    <tr>
        <th>&nbsp;</th>
{% for score in scores %}
        <th class="player-{{score.name}}">{{score.name}}</th>
{% endfor %}
    </tr>
    <tr>
        <td>
            Tech:
        </td>
{% for score in scores %}
        <td>
            {{ score.tech }}
            <a href="/{{branch}}/{{score.name}}/points_up/tech/">&uarr;</a>
{% if score.tech %}
            <a href="/{{branch}}/{{score.name}}/points_down/tech/">&darr;</a>
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td>
            Tech+:
        </td>
{% for score in scores %}
        <td>
            {{ score.tech_plus }}
            <a href="/{{branch}}/{{score.name}}/points_up/tech_plus/">&uarr;</a>
{% if score.tech_plus %}
            <a href="/{{branch}}/{{score.name}}/points_down/tech_plus/">&darr;</a>
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td>
            Culture:
        </td>
{% for score in scores %}
        <td>
            {{ score.culture }}
            <a href="/{{branch}}/{{score.name}}/points_up/culture/">&uarr;</a>
{% if score.culture %}
            <a href="/{{branch}}/{{score.name}}/points_down/culture/">&darr;</a>
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td>
            Culture+:
        </td>
{% for score in scores %}
        <td>
            {{ score.culture_plus }}
            <a href="/{{branch}}/{{score.name}}/points_up/culture_plus/">&uarr;</a>
{% if score.culture_plus %}
            <a href="/{{branch}}/{{score.name}}/points_down/culture_plus/">&darr;</a>
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td>
            Strength:
        </td>
{% for score in scores %}
        <td>
            {{ score.strength }}
            <a href="/{{branch}}/{{score.name}}/points_up/strength/">&uarr;</a>
{% if score.strength %}
            <a href="/{{branch}}/{{score.name}}/points_down/strength/">&darr;</a>
{%  endif %}
        </td>
{% endfor %}
    </tr>
</table>
</div>

<div id="military_decks">
    <table>
        <tr>
{% for aggression in military.aggressions %}
            <td class="card below">
                <a href="/{{branch}}/{{player}}/remove_aggression/{{forloop.counter0}}/">
                    <img src="/site_media/{{ aggression.file }}" width="*" height="120" />
                </a>
            </td>
{% endfor %}
{% for pact in military.pacts %}
            <td class="card below">
                <a href="/{{branch}}/{{player}}/remove_pact/{{forloop.counter0}}/">
                    <img src="/site_media/{{ pact.file }}" width="*" height="120" />
                </a>
            </td>
{% endfor %}
            <td>
            <a href="/{{branch}}/{{player}}/draw_military/I/"><img src="/site_media/age_1/Age_I_Military_-_Card_Back.png" width="*" height="120" /></a>
            </td>
            <td>
                {{ military.I|length }}
            </td>
            <td>
            <a href="/{{branch}}/{{player}}/draw_military/II/"><img src="/site_media/age_2/Age_II_Military_-_Card_Back.png" width="*" height="120" /></a>
            </td>
            <td>
                {{ military.II|length }}
            </td>
            <td>
            <a href="/{{branch}}/{{player}}/draw_military/III/"><img src="/site_media/age_3/Age_III_Military_-_Card_Back.png" width="*" height="120" /></a>
            </td>
            <td>
                {{ military.III|length }}
            </td>
{% if military.current_event %}
            <td class="card below">
{%   ifequal military.current_event.cell "territory" %}
            <a href="/{{branch}}/{{player}}/take_territory">
                <img src="/site_media/{{military.current_event.file}}" width="*" height="120">
            </a>
{%   else %}
                <img src="/site_media/{{military.current_event.file}}" width="*" height="120">
{%   endifequal %}
            </td>
{% endif %}
            <td>
                Future Events: {{military.future_event_size}}
            </td>
            <td>
                <a href="/{{branch}}/{{player}}/pop_current_event/">Pop Current Event ({{military.current|length}})</a>
            </td>
        </tr>
    </table>
</div>
</div>

<div id="tableau">
<table>
    <tr>
{% for wonder in civ.completed_wonders %}
        <td>
            <div class="card below">
                <img src="/site_media/{{ wonder }}" width="*" height="120">
            </div>
        </td>
{% endfor %}
{% for territory in civ.territories %}
        <td>
            <div class="card below">
                <img src="/site_media/{{ territory }}" width="*" height="120">
            </div>
        </td>
{% endfor %}
    </tr>
</div>
</table>

<table border="0">
<tr>
<td style="width:80; height:120;">
{% if civ.military_theory %}
<div class="card">
    <img src="/site_media/{{civ.military_theory.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.satellites %}
<div class="card">
    <img src="/site_media/{{civ.satellites.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.civil_service %}
<div class="card">
    <img src="/site_media/{{civ.civil_service.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.engineering %}
<div class="card">
    <img src="/site_media/{{civ.engineering.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.air_forces %}
<div class="card">
    <img src="/site_media/{{civ.air_forces.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/air_forces/">&uarr;</a>
        {{civ.air_forces.yellow}}
{% if civ.air_forces.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/air_forces/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.rockets %}
<div class="card">
    <img src="/site_media/{{civ.rockets.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/rockets/">&uarr;</a>
        {{civ.rockets.yellow}}
{% if civ.rockets.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/rockets/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.tanks %}
<div class="card">
    <img src="/site_media/{{civ.tanks.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/tanks/">&uarr;</a>
        {{civ.tanks.yellow}}
{% if civ.tanks.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/tanks/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.modern_infantry %}
<div class="card">
    <img src="/site_media/{{civ.modern_infantry.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/modern_infantry/">&uarr;</a>
        {{civ.modern_infantry.yellow}}
{% if civ.modern_infantry.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/modern_infantry/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.movies %}
<div class="card">
    <img src="/site_media/{{civ.movies.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/movies/">&uarr;</a>
        {{civ.movies.yellow}}
{% if civ.movies.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/movies/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.multimedia %}
<div class="card">
    <img src="/site_media/{{civ.multimedia.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/multimedia/">&uarr;</a>
        {{civ.multimedia.yellow}}
{% if civ.multimedia.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/multimedia/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.professional_sports %}
<div class="card">
    <img src="/site_media/{{civ.professional_sports.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/professional_sports/">&uarr;</a>
        {{civ.professional_sports.yellow}}
{% if civ.professional_sports.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/professional_sports/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.computers %}
<div class="card">
    <img src="/site_media/{{civ.computers.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/computers/">&uarr;</a>
        {{civ.computers.yellow}}
{% if civ.computers.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/computers/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">&nbsp</td><td style="width:80; height:120;">
{% if civ.oil %}
<div class="card">
    <img src="/site_media/{{civ.oil.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/oil/">&uarr;</a>
        {{civ.oil.yellow}}
{% if civ.oil.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/oil/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/oil/">&uarr;</a>
        {{civ.oil.blue}}
{% if civ.oil.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/oil/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.mechanized_agriculture %}
<div class="card">
    <img src="/site_media/{{civ.mechanized_agriculture.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/mechanized_agriculture/">&uarr;</a>
        {{civ.mechanized_agriculture.yellow}}
{% if civ.mechanized_agriculture.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/mechanized_agriculture/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/mechanized_agriculture/">&uarr;</a>
        {{civ.mechanized_agriculture.blue}}
{% if civ.mechanized_agriculture.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/mechanized_agriculture/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
</tr>
<tr>
<td style="width:80; height:120;">
{% if civ.strategy %}
<div class="card">
    <img src="/site_media/{{civ.strategy.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.navigation %}
<div class="card">
    <img src="/site_media/{{civ.navigation.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.justice_system %}
<div class="card">
    <img src="/site_media/{{civ.justice_system.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.architecture %}
<div class="card">
    <img src="/site_media/{{civ.architecture.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">&nbsp</td><td style="width:80; height:120;">
{% if civ.cannon %}
<div class="card">
    <img src="/site_media/{{civ.cannon.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/cannon/">&uarr;</a>
        {{civ.cannon.yellow}}
{% if civ.cannon.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/cannon/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.cavalrymen %}
<div class="card">
    <img src="/site_media/{{civ.cavalrymen.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/cavalrymen/">&uarr;</a>
        {{civ.cavalrymen.yellow}}
{% if civ.cavalrymen.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/cavalrymen/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.riflemen %}
<div class="card">
    <img src="/site_media/{{civ.riflemen.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/riflemen/">&uarr;</a>
        {{civ.riflemen.yellow}}
{% if civ.riflemen.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/riflemen/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.opera %}
<div class="card">
    <img src="/site_media/{{civ.opera.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/opera/">&uarr;</a>
        {{civ.opera.yellow}}
{% if civ.opera.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/opera/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.journalism %}
<div class="card">
    <img src="/site_media/{{civ.journalism.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/journalism/">&uarr;</a>
        {{civ.journalism.yellow}}
{% if civ.journalism.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/journalism/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.team_sports %}
<div class="card">
    <img src="/site_media/{{civ.team_sports.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/team_sports/">&uarr;</a>
        {{civ.team_sports.yellow}}
{% if civ.team_sports.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/team_sports/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.scientific_method %}
<div class="card">
    <img src="/site_media/{{civ.scientific_method.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/scientific_method/">&uarr;</a>
        {{civ.scientific_method.yellow}}
{% if civ.scientific_method.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/scientific_method/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.organized_religion %}
<div class="card">
    <img src="/site_media/{{civ.organized_religion.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/organized_religion/">&uarr;</a>
        {{civ.organized_religion.yellow}}
{% if civ.organized_religion.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/organized_religion/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.coal %}
<div class="card">
    <img src="/site_media/{{civ.coal.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/coal/">&uarr;</a>
        {{civ.coal.yellow}}
{% if civ.coal.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/coal/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/coal/">&uarr;</a>
        {{civ.coal.blue}}
{% if civ.coal.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/coal/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.selective_breeding %}
<div class="card">
    <img src="/site_media/{{civ.selective_breeding.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/selective_breeding/">&uarr;</a>
        {{civ.selective_breeding.yellow}}
{% if civ.selective_breeding.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/selective_breeding/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/selective_breeding/">&uarr;</a>
        {{civ.selective_breeding.blue}}
{% if civ.selective_breeding.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/selective_breeding/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
</tr>
<tr>
<td style="width:80; height:120;">
{% if civ.warfare %}
<div class="card">
    <img src="/site_media/{{civ.warfare.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.cartography %}
<div class="card">
    <img src="/site_media/{{civ.cartography.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.code_of_laws %}
<div class="card">
    <img src="/site_media/{{civ.code_of_laws.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.masonry %}
<div class="card">
    <img src="/site_media/{{civ.masonry.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">&nbsp</td><td style="width:80; height:120;">&nbsp</td><td style="width:80; height:120;">
{% if civ.knights %}
<div class="card">
    <img src="/site_media/{{civ.knights.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/knights/">&uarr;</a>
        {{civ.knights.yellow}}
{% if civ.knights.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/knights/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.swordsmen %}
<div class="card">
    <img src="/site_media/{{civ.swordsmen.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/swordsmen/">&uarr;</a>
        {{civ.swordsmen.yellow}}
{% if civ.swordsmen.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/swordsmen/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.drama %}
<div class="card">
    <img src="/site_media/{{civ.drama.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/drama/">&uarr;</a>
        {{civ.drama.yellow}}
{% if civ.drama.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/drama/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.printing_press %}
<div class="card">
    <img src="/site_media/{{civ.printing_press.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/printing_press/">&uarr;</a>
        {{civ.printing_press.yellow}}
{% if civ.printing_press.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/printing_press/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.bread_and_circuses %}
<div class="card">
    <img src="/site_media/{{civ.bread_and_circuses.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/bread_and_circuses/">&uarr;</a>
        {{civ.bread_and_circuses.yellow}}
{% if civ.bread_and_circuses.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/bread_and_circuses/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.alchemy %}
<div class="card">
    <img src="/site_media/{{civ.alchemy.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/alchemy/">&uarr;</a>
        {{civ.alchemy.yellow}}
{% if civ.alchemy.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/alchemy/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.theology %}
<div class="card">
    <img src="/site_media/{{civ.theology.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/theology/">&uarr;</a>
        {{civ.theology.yellow}}
{% if civ.theology.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/theology/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.iron %}
<div class="card">
    <img src="/site_media/{{civ.iron.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/iron/">&uarr;</a>
        {{civ.iron.yellow}}
{% if civ.iron.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/iron/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/iron/">&uarr;</a>
        {{civ.iron.blue}}
{% if civ.iron.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/iron/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.irrigation %}
<div class="card">
    <img src="/site_media/{{civ.irrigation.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/irrigation/">&uarr;</a>
        {{civ.irrigation.yellow}}
{% if civ.irrigation.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/irrigation/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/irrigation/">&uarr;</a>
        {{civ.irrigation.blue}}
{% if civ.irrigation.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/irrigation/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
</tr>
<tr>
<td style="width:80; height:120;">
{% if civ.tactics %}
<div class="card">
    <img src="/site_media/{{civ.tactics.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.wonder %}
<div class="card">
    <a href="/{{branch}}/{{player}}/finish_wonder/"><img src="/site_media/{{civ.wonder.file}}" width="*" height="120"></a>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/wonder/">&uarr;</a>
        {{civ.wonder.blue}}
{% if civ.wonder.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/wonder/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.government %}
<div class="card">
    <img src="/site_media/{{civ.government.file}}" width="*" height="120">
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.leader %}
<div class="card">
    <a href="/{{branch}}/{{player}}/discard_leader/"><img src="/site_media/{{civ.leader.file}}" width="*" height="120"></a>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">&nbsp</td><td style="width:80; height:120;">&nbsp</td><td style="width:80; height:120;">&nbsp</td><td style="width:80; height:120;">
{% if civ.warriors %}
<div class="card">
    <img src="/site_media/{{civ.warriors.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/warriors/">&uarr;</a>
        {{civ.warriors.yellow}}
{% if civ.warriors.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/warriors/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">&nbsp</td><td style="width:80; height:120;">&nbsp</td><td style="width:80; height:120;">&nbsp</td><td style="width:80; height:120;">
{% if civ.philosophy %}
<div class="card">
    <img src="/site_media/{{civ.philosophy.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/philosophy/">&uarr;</a>
        {{civ.philosophy.yellow}}
{% if civ.philosophy.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/philosophy/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.religion %}
<div class="card">
    <img src="/site_media/{{civ.religion.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/religion/">&uarr;</a>
        {{civ.religion.yellow}}
{% if civ.religion.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/religion/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.bronze %}
<div class="card">
    <img src="/site_media/{{civ.bronze.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/bronze/">&uarr;</a>
        {{civ.bronze.yellow}}
{% if civ.bronze.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/bronze/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/bronze/">&uarr;</a>
        {{civ.bronze.blue}}
{% if civ.bronze.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/bronze/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
<td style="width:80; height:120;">
{% if civ.agriculture %}
<div class="card">
    <img src="/site_media/{{civ.agriculture.file}}" width="*" height="120">
    <span class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/agriculture/">&uarr;</a>
        {{civ.agriculture.yellow}}
{% if civ.agriculture.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/agriculture/">&darr;</a>
{% endif %}
    </span>
    <br clear="all"/>
    <span class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/agriculture/">&uarr;</a>
        {{civ.agriculture.blue}}
{% if civ.agriculture.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/agriculture/">&darr;</a>
{% endif %}
    </span>
</div>
{% else %}
&nbsp;
{% endif %}
</td>
</tr>
</table>

<div id="blue_tokens">
    <table>
        <tr>
            <td>
                <a href="/{{branch}}/{{player}}/count_up/blue">
                    &uarr;
                </a>
            </td>
            <td rowspan="2">
                -6
            </td>
{% if blue.1 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.3 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
            <td rowspan="2">
                -4
            </td>
{% if blue.5 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.7 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
            <td rowspan="2">
                -2
            </td>
{% if blue.9 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.11 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.13 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.15 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.17 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue_leftover %}
            <td rowspan="2">
                + {{ blue_leftover }}
            </td>
        </tr>
{% endif %}
        <tr>
            <td>
{% if blue.1 %}
                <a href="/{{branch}}/{{player}}/count_down/blue">
                    &darr;
                </a>
{% endif %}
            </td>
{% if blue.2 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.4 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.6 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.8 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.10 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.12 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.14 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.16 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
{% if blue.18 %}
            <td class="blue_token_cell_full">
{% else %}
            <td class="blue_token_cell_empty">
{% endif %}
            &nbsp</td>
        </tr>
    </table>    
</div>

<div id="yellow_tokens">
    <table>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
{% ifequal civ.happiness 9 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>
{% ifequal civ.happiness 8 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>&nbsp;</td>
            <td>
{% ifequal civ.happiness 7 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>
{% ifequal civ.happiness 6 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>&nbsp;</td>
            <td>
{% ifequal civ.happiness 5 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>
{% ifequal civ.happiness 4 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>&nbsp;</td>
            <td>
{% ifequal civ.happiness 3 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>
{% ifequal civ.happiness 2 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>&nbsp;</td>
            <td>
{% ifequal civ.happiness 1 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
            </td>
            <td>
{% ifequal civ.happiness 0 %}
                <img src="/site_media/misc/happiness.png" />
{% endifequal %}
{% ifnotequal civ.happiness 9 %}
                <a href="/{{branch}}/{{player}}/points_up/happiness">
                    &uarr;
                </a>
{% endifnotequal %}
{% ifnotequal civ.happiness 0 %}
                <a href="/{{branch}}/{{player}}/points_down/happiness">
                    &darr;
                </a>
{% endifnotequal %}
            </td>
        <tr>
            <td>
{% if not yellow.18 %}
                <a href="/{{branch}}/{{player}}/count_up/yellow">
                    &uarr;
                </a>
{% endif %}
            </td>
            <td rowspan="2">
                -6
            </td>
{% if yellow.1 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
{% if yellow.3 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
            <td rowspan="2">
                -4
            </td>
{% if yellow.5 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
{% if yellow.7 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
            <td rowspan="2">
                -3
            </td>
{% if yellow.9 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
{% if yellow.11 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
            <td rowspan="2">
                -2
            </td>
{% if yellow.13 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
{% if yellow.15 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
            <td rowspan="2">
                -1
            </td>
{% if yellow.17 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                2
            </td>
            <td rowspan="2">
                Unused: {{ civ.unused_workers }}
                <a href="/{{branch}}/{{player}}/points_up/unused_workers/">&uarr;</a>
{% if civ.unused_workers %}
                <a href="/{{branch}}/{{player}}/points_down/unused_workers/">&darr;</a>
{%  endif %}
            </td>
        <tr>
            <td>
{% if yellow.1 %}
                <a href="/{{branch}}/{{player}}/count_down/yellow">
                    &darr;
                </a>
{% endif %}
            </td>
{% if yellow.2 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
{% if yellow.4 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
{% if yellow.6 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
{% if yellow.8 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
{% if yellow.10 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
{% if yellow.12 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
{% if yellow.14 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
{% if yellow.16 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
{% if yellow.18 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                2
            </td>
        </tr>
    </table>    
</div>

<table style="clear:both; padding-top:15px;">
    <tr>
{% for card in civ.hand %}
        <td>
            <div class="card">
{%   ifequal card.cell "event" %}
                <a href="/{{branch}}/{{player}}/play_event/{{ forloop.counter }}/">
{%   else %}
{%     ifequal card.cell "territory" %}
                <a href="/{{branch}}/{{player}}/play_event/{{ forloop.counter }}/">
{%     else %}
{%       ifequal card.cell "aggression" %}
                <a href="/{{branch}}/{{player}}/play_aggression/{{ forloop.counter }}/">
{%       else %}
{%         ifequal card.cell "pact" %}
                <a href="/{{branch}}/{{player}}/play_pact/{{ forloop.counter }}/">
{%         else %}
                <a href="/{{branch}}/{{player}}/play/{{ forloop.counter }}/">
{%         endifequal %}
{%       endifequal %}
{%     endifequal %}
{%   endifequal %}

{% if can_view_hand %}
                    <img src="/site_media/{{card.file}}" width="*" height="120">
{% else %}
                    <img src="/site_media/{{card.back}}" width="*" height="120">
{% endif %}
                </a>
            </div>
        </td>
{% endfor %}
    </tr>
    <tr>
{% for card in civ.hand %}
        <td>
            <center><a href="/{{branch}}/{{player}}/discard/{{ forloop.counter }}/">X</a></center>
        </td>
{% endfor %}
    </tr>
</table>
<a href="/login/{{branch}}/{{player}}/">Login as this player to see their hand.</a>
</div>
</div>
