<title>Through The Ages</title>
<script type="text/javascript" src="/site_media/js/jquery.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
  $("#zoom").hide();

  $(".card").bind("mouseenter", function() {
    var img = $("img:first", this)
    var url = img.attr("src");
    var position = img.position();
    $("#zoom")
      .show()
      .css("left", position.left)
      .css("top", position.top + 120)
      .css("background-image", "url('" + url +"')")
      .css("width", "240")
      .css("height", "360");
  });

  $("td").bind("mouseleave", function() {
    $("#zoom").hide();
  });
});
</script>
<style>
#zoom {
 position:absolute;
 z-index: 100;
}

a:link img{border:0}
a:visited img{border:0}

#scores {
 position:absolute;
 top: 200;
 left: 100;
}

#military_decks {
 position:absolute;
 top: 170;
 left: 450;
}

#blue_tokens {
 position:absolute;
 top: 300;
 left: 450;
}

#yellow_tokens {
 position:absolute;
 top: 300;
 left: 750;
}

.yellow_token_cell_full {
 width: 25;
 height: 25;
 background-image: url(/site_media/misc/yellow_token.png);
}

.yellow_token_cell_empty {
 width: 25;
 height: 25;
}

.yellow_counter {
 position:absolute; 
 left:0;
 top: 40;
 background-color: yellow;
}

.blue_counter {
 position:absolute; 
 right:0;
 top: 60;
 background-color: blue;
}

#government {
 position:absolute;
 left: 50;
 top: 400;
 width: 80;
 height:120;
}

#leader {
 position:absolute;
 left: 130;
 top: 400;
 width: 80;
 height:120;
}

#tactics {
 position:absolute;
 left: 130;
 top: 520;
 width: 80;
 height:120;
}

#completed_wonders {
 position:absolute;
 left:50;
 top: 600;
 width: 80;
 height:120;
}


#wonder {
 position:absolute;
 left: 210;
 top: 400;
 width: 80;
 height:120;
}

#drama {
 position:absolute;
 left:460;
 top:480;
 width:80;
 height:120;
}

#printing_press {
 position:absolute;
 left:540;
 top:480;
 width:80;
 height:120;
}

#bread_and_circuses {
 position:absolute;
 left:620;
 top:480;
 width:80;
 height:120;
}

#philosophy {
 position:absolute;
 left:700;
 top: 600;
 width: 80;
 height:120;
}

#alchemy {
 position:absolute;
 left:700;
 top: 480;
 width: 80;
 height:120;
}

#religion {
 position:absolute;
 left:780;
 top: 600;
 width: 80;
 height:120;
}

#bronze {
 position:absolute;
 left:860;
 top: 600;
 width: 80;
 height:120;
}

#iron {
 position:absolute;
 left:860;
 top: 480;
 width: 80;
 height:120;
}

#agriculture {
 position:absolute;
 left:940;
 top: 600;
 width: 80;
 height:120;
}

#irrigation {
 position:absolute;
 left:940;
 top: 480;
 width: 80;
 height:120;
}

#warriors {
 position:absolute;
 left:380;
 top: 600;
 width: 80;
 height:120;
}

#knights {
 position:absolute;
 left:300;
 top: 480;
 width: 80;
 height:120;
}

#hand {
 position:absolute;
 left: 50;
 top: 750;
 height:120;
}
</style>
<table>
    <tr>
{% for card in card_row %}
        <td>
            <div class="card">
                <a href="/{{branch}}/{{player}}/add/{{ forloop.counter }}">
                    <img src="/site_media/{{ card }}" width="*" height="120">
                </a>
            </div>
        </td>
{% endfor %}
    </tr>
    <tr>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            1
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            2
        </td>
        <td align="center">
            3
        </td>
        <td align="center">
            3
        </td>
        <td align="center">
            3
        </td>
        <td align="center">
            3
        </td>
    </tr>
</table>

{% if civ.government %}
<div id="government">
    <img src="/site_media/{{civ.government.file}}" width="*" height="120">
</div>
{% endif %}

{% if civ.leader %}
<div id="leader">
    <img src="/site_media/{{civ.leader.file}}" width="*" height="120">
</div>
{% endif %}

{% if civ.tactics %}
<div id="tactics">
    <img src="/site_media/{{civ.tactics.file}}" width="*" height="120">
</div>
{% endif %}

{% if civ.wonder %}
<div id="wonder">
    <a href="/{{branch}}/{{player}}/finish_wonder">
        <img src="/site_media/{{civ.wonder.file}}" width="*" height="120">
    </a>
    <div class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/wonder/">&uarr;</a>
        {{civ.wonder.blue}}
{% if civ.wonder.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/wonder/">&darr;</a>
{% endif %}
    </div>
</div>
{% endif %}

<table id="completed_wonders">
    <tr>
{% for wonder in civ.completed_wonders %}
        <td>
            <div class="card">
                <img src="/site_media/{{ wonder }}" width="*" height="120">
            </div>
        </td>
{% endfor %}
    </tr>
</div>

{% if civ.drama %}
<div id="drama">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/drama/">&uarr;</a>
        {{civ.drama.yellow}}
{% if civ.drama.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/drama/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.drama.file}}" width="*" height="120">
</div>
{% endif %}

{% if civ.printing_press %}
<div id="printing_press">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/printing_press/">&uarr;</a>
        {{civ.printing_press.yellow}}
{% if civ.printing_press.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/printing_press/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.printing_press.file}}" width="*" height="120">
</div>
{% endif %}

{% if civ.bread_and_circuses %}
<div id="bread_and_circuses">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/bread_and_circuses/">&uarr;</a>
        {{civ.bread_and_circuses.yellow}}
{% if civ.bread_and_circuses.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/bread_and_circuses/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.bread_and_circuses.file}}" width="*" height="120">
</div>
{% endif %}

{% if civ.philosophy %}
<div id="philosophy">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/philosophy/">&uarr;</a>
        {{civ.philosophy.yellow}}
{% if civ.philosophy.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/philosophy/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.philosophy.file}}" width="*" height="120">
</div>
{% endif %}

{% if civ.alchemy %}
<div id="alchemy">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/alchemy/">&uarr;</a>
        {{civ.alchemy.yellow}}
{% if civ.alchemy.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/alchemy/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.alchemy.file}}" width="*" height="120">
</div>
{% endif %}

{% if civ.religion %}
<div id="religion">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/religion/">&uarr;</a>
        {{civ.religion.yellow}}
{% if civ.religion.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/religion/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.religion.file}}" width="*" height="120">
</div>
{% endif %}

{% if civ.bronze %}
<div id="bronze">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/bronze/">&uarr;</a>
        {{civ.bronze.yellow}}
{% if civ.bronze.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/bronze/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.bronze.file}}" width="*" height="120">
    <div class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/bronze/">&uarr;</a>
        {{civ.bronze.blue}}
{% if civ.bronze.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/bronze/">&darr;</a>
{% endif %}
    </div>
</div>
{% endif %}

{% if civ.iron %}
<div id="iron">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/iron/">&uarr;</a>
        {{civ.iron.yellow}}
{% if civ.iron.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/iron/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.iron.file}}" width="*" height="120">
    <div class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/iron/">&uarr;</a>
        {{civ.iron.blue}}
{% if civ.iron.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/iron/">&darr;</a>
{% endif %}
    </div>
</div>
{% endif %}

{% if civ.agriculture %}
<div id="agriculture">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/agriculture/">&uarr;</a>
        {{civ.agriculture.yellow}}
{% if civ.agriculture.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/agriculture/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.agriculture.file}}" width="*" height="120">
    <div class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/agriculture/">&uarr;</a>
        {{civ.agriculture.blue}}
{% if civ.agriculture.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/agriculture/">&darr;</a>
{% endif %}
    </div>
</div>
{% endif %}

{% if civ.irrigation %}
<div id="irrigation">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/irrigation/">&uarr;</a>
        {{civ.irrigation.yellow}}
{% if civ.irrigation.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/irrigation/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.irrigation.file}}" width="*" height="120">
    <div class="blue_counter">
        <a href="/{{branch}}/{{player}}/blue_cell_up/irrigation/">&uarr;</a>
        {{civ.irrigation.blue}}
{% if civ.irrigation.blue %}
        <a href="/{{branch}}/{{player}}/blue_cell_down/irrigation/">&darr;</a>
{% endif %}
    </div>
</div>
{% endif %}

{% if civ.warriors %}
<div id="warriors">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/warriors/">&uarr;</a>
        {{civ.warriors.yellow}}
{% if civ.warriors.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/warriors/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.warriors.file}}" width="*" height="120">
</div>
{% endif %}

{% if civ.knights %}
<div id="knights">
    <div class="yellow_counter">
        <a href="/{{branch}}/{{player}}/yellow_up/knights/">&uarr;</a>
        {{civ.knights.yellow}}
{% if civ.knights.yellow %}
        <a href="/{{branch}}/{{player}}/yellow_down/knights/">&darr;</a>
{% endif %}
    </div>
    <img src="/site_media/{{civ.knights.file}}" width="*" height="120">
</div>
{% endif %}

<table id="hand">
    <tr>
{% for card in civ.hand %}
        <td>
            <div class="card">
{%   ifequal card.cell "event" %}
                <a href="/{{branch}}/{{player}}/play_event/{{ forloop.counter }}/">
{%   else %}
                <a href="/{{branch}}/{{player}}/play/{{ forloop.counter }}/">
{%   endifequal %}
                    <img src="/site_media/{{card.file}}" width="*" height="120">
                </a>
            </div>
        </td>
{% endfor %}
    </tr>
</table>

<div id="zoom">
</div>
<form method="POST" action="/{{branch}}/{{player}}/slide/">
    <input type="submit" name="action" value="slide"/>
</form>
<form method="POST" action="/cjh/{{player}}/begin/">
    <input type="submit" name="action" value="begin"/>
</form>
<form method="POST" action="/{{branch}}/{{player}}/save/">
    <input type="submit" name="action" value="save"/>
</form>
<form method="POST" action="/{{branch}}/{{player}}/reset/">
    <input type="submit" name="action" value="reset"/>
</form>
<form method="POST" action="/{{branch}}/{{player}}/undo/">
    <input type="submit" name="action" value="undo"/>
</form>


<div id="blue_tokens">
    <table>
        <tr>
            <td>
                <a href="/{{branch}}/{{player}}/count_up/blue">
                    &uarr;
                </a>
            </td>
            <td>
{% if blue.1 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.3 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.5 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.7 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.9 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.11 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.13 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.15 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.17 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
{% if blue_leftover %}
            <td rowspan="2">
                + {{ blue_leftover }}
            </td>
        </tr>
{% endif %}
        <tr>
            <td>
{% if blue.1 %}
                <a href="/{{branch}}/{{player}}/count_down/blue">
                    &darr;
                </a>
{% endif %}
            </td>
            <td>
{% if blue.2 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.4 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.6 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.8 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.10 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.12 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.14 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.16 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
            <td>
{% if blue.18 %}
                <img src="/site_media/misc/blue_token.png" />
{% endif %}
            </td>
        </tr>
    </table>    
</div>

<div id="yellow_tokens">
    <table>
        <tr>
            <td>
{% if not yellow.18 %}
                <a href="/{{branch}}/{{player}}/count_up/yellow">
                    &uarr;
                </a>
{% endif %}
            </td>
{% if yellow.1 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
{% if yellow.3 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
{% if yellow.5 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
{% if yellow.7 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
{% if yellow.9 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
{% if yellow.11 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
{% if yellow.13 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
{% if yellow.15 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
{% if yellow.17 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td>
{% endif %}
                2
            </td>
            <td rowspan="2">
                {{ civ.unused_workers }}
                <a href="/{{branch}}/{{player}}/points_up/unused_workers/">&uarr;</a>
{% if civ.unused_workers %}
                <a href="/{{branch}}/{{player}}/points_down/unused_workers/">&darr;</a>
{%  endif %}
            </td>
        <tr>
            <td>
{% if yellow.1 %}
                <a href="/{{branch}}/{{player}}/count_down/yellow">
                    &darr;
                </a>
{% endif %}
            </td>
{% if yellow.2 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
{% if yellow.4 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                7
            </td>
{% if yellow.6 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
{% if yellow.8 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                5
            </td>
{% if yellow.10 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
{% if yellow.12 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                4
            </td>
{% if yellow.14 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
{% if yellow.16 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td class="yellow_token_cell_empty">
{% endif %}
                3
            </td>
{% if yellow.18 %}
            <td class="yellow_token_cell_full">
{% else %}
            <td>
{% endif %}
                2
            </td>
        </tr>
    </table>    
</div>

<div id="scores">
<table>
    <tr>
        <th>&nbsp;</th>
{% for score in scores %}
        <th>{{score.name}}</th>
{% endfor %}
    </tr>
    <tr>
        <td>
            Tech:
        </td>
{% for score in scores %}
        <td>
            {{ score.tech }}
            <a href="/{{branch}}/{{score.name}}/points_up/tech/">&uarr;</a>
{% if score.tech %}
            <a href="/{{branch}}/{{score.name}}/points_down/tech/">&darr;</a>
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td>
            Strength:
        </td>
{% for score in scores %}
        <td>
            {{ score.strength }}
            <a href="/{{branch}}/{{score.name}}/points_up/strength/">&uarr;</a>
{% if score.strength %}
            <a href="/{{branch}}/{{score.name}}/points_down/strength/">&darr;</a>
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td>
            Culture:
        </td>
{% for score in scores %}
        <td>
            {{ score.culture }}
            <a href="/{{branch}}/{{score.name}}/points_up/culture/">&uarr;</a>
{% if score.culture %}
            <a href="/{{branch}}/{{score.name}}/points_down/culture/">&darr;</a>
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td>
            Culture+:
        </td>
{% for score in scores %}
        <td>
            {{ score.culture_plus }}
            <a href="/{{branch}}/{{score.name}}/points_up/culture_plus/">&uarr;</a>
{% if score.culture_plus %}
            <a href="/{{branch}}/{{score.name}}/points_down/culture_plus/">&darr;</a>
{%  endif %}
        </td>
{% endfor %}
    </tr>
    <tr>
        <td>
            Tech+:
        </td>
{% for score in scores %}
        <td>
            {{ score.tech_plus }}
            <a href="/{{branch}}/{{score.name}}/points_up/tech_plus/">&uarr;</a>
{% if score.tech_plus %}
            <a href="/{{branch}}/{{score.name}}/points_down/tech_plus/">&darr;</a>
{%  endif %}
        </td>
{% endfor %}
</table>
</div>

<div id="military_decks">
    <a href="/{{branch}}/{{player}}/draw_military/A/"><img src="/site_media/Age_A_Military_-_Card_Back.png" width="*" height="120" /></a>
    {{ military.A|length }}
    <a href="/{{branch}}/{{player}}/draw_military/I/"><img src="/site_media/age_1/Age_I_Military_-_Card_Back.png" width="*" height="120" /></a>
    {{ military.I|length }}
{% if military.current_event %}
    <span class="card">
        <img src="/site_media/{{military.current_event}}" width="*" height="120">
    </span>
{% endif %}
    Future Events: {{military.future_event_size}}
    <a href="/{{branch}}/{{player}}/pop_current_event/">Pop Current Event ({{military.current|length}})</a>
</div>
