{% extends "game/base.html" %}
{% block content %}
<div id="content" style="width:920px;">
    <img src="{{ gravatar_url }}" />
    {{ user.username }}
</div>

<div id="current-games">
    Current Games:
<table>
    <tr>
        <th>Title</th>
        <th>Date Started</th>
        <th>Date Last Move</th>
    </tr>
{%  for game in games %}
    <tr>
        <td><a href="/{{ game.id }}/master/{{ user.username}}/card_row">{{ game.title }}</a></td>
        <td>{{ game.date_started|date:"D, M dS y" }}</td>
        <td>{{ game.date_last_move|date:"D, M dS y" }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
