{% extends "base.html" %}

{% block content %}
{% if error %}
<p style="color:#990000;">
    {{ error }}
</p>
{% endif %}

Login:
<form action="/login/" method="POST">
    <p>
        Username: <input type="text" name="username" />
    </p>
    <p>
        Password: <input type="text" name="password" />
    </p>
{% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
{% endif %}
    <p>
        <input type="submit" value="Login" />
    </p>
</form>

<p>
    or <a href="/register/?next={{next}}">register</a>
</p>
{% endblock %}
